body {
	text-align: center;
}
html {
  font-size: 14px;
}
img.img-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}
img.logo{
	width: 11%;
}
div.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(173, 72, 175, 0.92);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
